[submodule "client"]
	path = client
	url = https://github.com/YordanSBarrera/client.git
[submodule "api"]
	path = api
	url = https://github.com/YordanSBarrera/api.git
[submodule "rtmpserver"]
	path = rtmpserver
	url = https://github.com/YordanSBarrera/rtmpserver.git
